<%= "Logged in as #{current_user_name}"%>
<table class="table table-bordered">
  <tr>
    <th>Profile Pic</th>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <% @users.each do | user | %>
<tr>
        <td>

        </td>

      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= link_to "Edit", edit_user_path(user)%></td>
      <td><%= link_to "Show", user_path(user)%></td>
      <td><%= link_to "Delete", user, method: :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-danger"%></td>
    </tr>
  <%end%>
</table>
<%= link_to "Add New user", new_user_path %>
<%# <%= will_paginate @users %> %>
