<% if @user.errors.any? %>
  <% @user.errors.messages.each do | key, merror |%>
    <%= key.to_s + ": " + merror[0] %>
  <%end%>
<%end%>
<%= form_for @user do | f |%>
  <table class="table table-striped" >
    <tr>
      <td><%= f.label :name%></td>
      <td><%= f.text_field :name%></td>
    </tr>
      <tr>
        <td><%= f.label :email%></td>
        <td><%= f.email_field :email%></td>
    </tr>
        <tr>
          <td><%= f.label :password%></td>
          <td><%= f.password_field :password%></td>
      </tr>
          <tr>
            <td><%= f.label :confirm_password%></td>
            <td><%= f.password_field :confirm_password%></td>
        </tr>
        <%= f.fields_for :image do | im | %>
        <tr>
          <td><%= im.label :photo%></td>
          <td><%= im.file_field :photo%></td>
        </tr>
        <%end%>
        <tr>
            <td></td>
            <td><%= f.submit "Sign Up"%></td>
        </tr>
  </table>
<%end%>
<%= link_to "Home", users_path %>
