<img src="assets/weinvest.png" height="100" weidth="50">
<%= form_tag action: :authenticate, method: :post do %>
  <table>
    <tr>
     <td><%= label_tag :email%></td>
     <td><%= text_field_tag :email%></td>
    </tr>
    <tr>
     <td><%= label_tag :password%></td>
     <td><%= text_field_tag :password%></td>
    </tr>
    <tr>
     <td></td>
     <td><%= submit_tag "Sign In"%></td>
    </tr>
    </table>
<%end%>

<%= link_to "Sign Up", new_user_path, :class=>"btn btn-primary"%>
