<%= render "errors"%>
<%= form_for @user do | f | %>
  <table>
    <tr>
     <td><%= f.label :name%></td>
     <td><%= f.text_field :name%></td>
    </tr>
    <tr>
     <td><%= f.label :email%></td>
     <td><%= f.text_field :email%></td>
    </tr>
    <tr>
     <td><%= f.label :password%></td>
     <td><%= f.password_field :password%></td>
    </tr>
    <tr>
     <td><%= f.label :confirm_password%></td>
     <td><%= f.password_field :confirm_password%></td>
    </tr>
    <tr>
      <%= f.fields_for :image do | image |%>
       <td><%= image.label :photo%></td>
       <td><%= image.file_field :photo%></td>
     <%end%>
    </tr>
    <tr>
     <td></td>
     <td><%= f.submit%></td>
    </tr>
    </table>
<%end%>

<%= link_to "Home page", users_path, :class=>"btn btn-info"%>
