<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
    <tr>
        <td><%= @user.name%></td>
        <td><%= @user.email%></td>
        <td><%= link_to "show", user_path(@user) %></td>
        <td><%= link_to "edit", edit_user_path(@user) %></td>
        <td><%= link_to "delete", @user , method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
</table>

<%= link_to "Add record", new_user_path%>
